
ion-content{
  --background: #F0F4FD;

  P{
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    //color : #8c8c8c;
    margin: 0;
  }
}
ion-toolbar{
 --background-color: #1ce5ff ;
}

.custom-shape-divider-bottom-1671843406 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1671843406 svg {
  position: relative;
  display: block;
  width: calc(212% + 1.3px);
  height: 207px;
}

.custom-shape-divider-bottom-1671843406 .shape-fill {
  fill: #1CE5FF;
}